.button {
  width: 100%;
  height: 5em;
  margin: 0.1rem 0;
  background: none;
  display: flex;
  align-items: center;
}

.image {
  width: 3rem;
  margin: 0.5rem 0.8rem;
}

.name {
  padding: 1rem;
  font-size: 0.9rem;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
